<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>

    <title>Select To Vote</title>
    <meta charset="utf-8" ></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" ></meta>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/home-main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/home-ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/home-ie9.css" /><![endif]-->

    <meta name="author" content="Mark Cunningham"></meta>
</head>

<body class="wrapper" style="background: #303030;">

<div class="wrapper style4" >
    <article id="contact" >
        <header>
            <h2>Hello, what do you want to vote on?</h2>
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <div>
                        <div class="row 200%">
                            <div class="12u">
                                <ul class="actions">
                                    <li th:each=" instance : ${instances}">
                                        <button
                                                th:onclick="'window.location.href = \'' + @{/{votingId}(votingId=${instance.votingId})} + '\''"
                                                th:text="${instance.name}">Test</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/skel-viewport.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>

</html>