<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>

    <title>Voting Admin</title>
    <meta charset="utf-8" ></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" ></meta>
    <!--[if lte IE 8]><script th:src="@{assets/js/ie/html5shiv.js}" src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/home-main.css}" href="assets/css/home-main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/assets/css/home-ie8.css}" href="assets/css/home-ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{/assets/css/home-ie9.css}" href="assets/css/home-ie9.css" /><![endif]-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta name="author" content="Mark Cunningham"></meta>
</head>

<body class="wrapper" style="background: #303030;">

<div class="wrapper style4" >
    <article id="contact" >
        <header>
            <h2>Admin options:</h2>
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <div>
                        <div class="row 200%">
                            <div class="12u">
                                <ul class="actions">
                                    <li>
                                        <button onclick="openVoting()">Open Voting</button>
                                    </li>
                                    <li>
                                        <button onclick="closeVoting()">Close Voting</button>
                                    </li>
                                </ul>
                                <div>
                                    <h3>Enter the JSON for this voting instance</h3>
                                    <textarea th:text="${example_json_data}"
                                              style="min-width: 50%; min-height: 20em; margin-top: 3em"
                                              id="voting-data-entry">Enter all the JSON in here</textarea>
                                    <button onclick="uploadVotingData()">Upload data</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}" src="assets/js/jquery.min.js"></script>
<script th:src="@{/assets/js/jquery.scrolly.min.js}" src="assets/js/jquery.scrolly.min.js"></script>
<script th:src="@{/assets/js/skel.min.js}" src="assets/js/skel.min.js"></script>
<script th:src="@{/assets/js/skel-viewport.min.js}" src="assets/js/skel-viewport.min.js"></script>
<script th:src="@{/assets/js/util.js}" src="assets/js/util.js"></script>
<!--[if lte IE 8]><script th:src="@{/assets/js/ie/respond.min.js}" src="assets/js/ie/respond.min.js"></script><![endif]-->
<script th:src="@{/assets/js/main.js}" src="assets/js/main.js"></script>
<script th:src="@{/js/admin_voting.js}" src="js/admin_voting.js"></script>

</body>

</html>